/* COMMON STYLES */
$color-base: rgba(150, 166, 167, 1); // 96a6a7
$color-placeholder: rgba(255, 255, 255, 1);
$color-buttons: rgba(255, 255, 255, 1);
$background-active: rgba(27, 175, 93, 1); //1baf5d
$background-btn-box: rgba(233, 78, 56, 1); //E94E38
$border-select: rgba(202, 210, 211, 1); //cad2d3
$font-size-base: 14px;


/* HEADER */
$background-header: rgba(255, 255, 255, 1);
$background-search: rgba(226, 222, 224, 1); //#e2dee0
$link-active: rgba(233, 78, 56, 1); //e94e38
$font-size-fa: 24px;


/* SEARCH */
$font-size-search: 30px;
$font-search: 18px;
$shadow-filter: rgba(237, 235, 236, 1);
$background-icon-select: rgba(255, 255, 255, 0.1);
$shadow-button-search: rgba(193, 65, 46, 1); //#c1412e;


/* FILTERS */
$background-bus-filter: rgba(136, 73, 156, 1); //88499C
$background-music-filter: rgba(241, 158, 31, 1); //f19e1f
$background-study-filter: rgba(182, 192, 193, 1); //b6c0c1


/* CARDS */
$background-box-cards: rgba(243, 241, 242, 1); //f3f1f2
$background-show-home: rgba(27, 175, 93, 0.5);
$background-show-music: rgba(241, 158, 31, 0.5);
$background-show-bus: rgba(136, 73, 156, 0.5);
$color-content-card: rgba(86, 99, 117, 1); //#566375


/* OFFERS */
$color-subtitle: rgba(150, 166, 167, 1); //#96a6a7
$border-icon-x: rgba(157, 172, 173, 1);//#9dacad

/* FOOTER */
$subscribe-border-bottom: rgba(226, 222, 224, 0.2);
